{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<div class="container">
<h1 class="text-center py-5">Relever les défis et promouvoir l’intégration des <br> mobilités aériennes sans pilote </h1>

<p class="text-cente p-5" > L'utilisation des drones et des véhicules aériens sans pilote (UAV, pour Unmanned Aerial Vehicles) connaît une croissance rapide dans divers domaines, de la livraison de colis à la surveillance agricole et à la cartographie aérienne.

Importance : L'intégration réussie des UAM dans l'espace aérien existant présente des avantages potentiels considérables, notamment la réduction des temps de déplacement, l'amélioration de l'efficacité logistique et l'atténuation de la congestion routière.
 </p>
 </div>

<section class="mx-5 d-flex">

<img  class="img-fluid" width="200px" height="200px " src="{{ asset('images/home/drone-enville.jpg')}}" alt="">
<br>
<p class="p-5"> <strong>Promouvoir l'avenir des drones sans pilote</strong> <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>
</section>

<section class="mx-5 d-flex justify-content-center">
<p class="p-5"> <strong>Promouvoir l'avenir des drones sans pilote</strong> <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>
<img width="30%" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">
</section>

<section class="mx-5 d-flex">

<img width="30%" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">

<p class="p-5"> <strong>Promouvoir l'avenir des drones sans pilote</strong> <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>


</section>



{% endblock %}
