{% extends 'base.html.twig' %}

{% block title %}home!{% endblock %}

{% block body %}
<style>
h1{color:rgb(17, 77, 116);}
strong{font-size :90px;}
p{font-size:20px }
span{font-weight:bold;
font-size :20px;}

</style>

<div class="about">

<img  class="img" width="100%" height="100%"  src="{{ asset('images/home/bg-home.jpg')}}" alt="">

<h1 class="text-center py-5 "> <strong>SafeSkyNav</strong> <br>
Relever les défis et promouvoir l’intégration des <br> mobilités aériennes sans pilote </h1>

<div class="container">
<p class="text-center"> La société se spécialise dans la conception et la mise en œuvre de solutions numériques pour la <br>gestion sécurisée du trafic de véhicules autonomes. 
<br>Leur expertise réside dans la création et le déploiement de systèmes de gestion avancés qui assurent  la sécurité <br> des véhicules sans conducteur.Leur technologie contribue à rendre les déplacements autonomes plus sûrs et efficaces.
 </p>
</div>

 <br>
 <br>
 <br>
 </div>

<section class="d-flex text-light text-center" style="background-color:rgb(15, 18, 28)">
<div class="container py-5">
<h2>Les Défis de l'Intégration</h2>
<br>
<p> <br> Les mobilités aériennes sans pilote, telles que les drones, font face à divers défis cruciaux. Tout d'abord, la réglementation stricte encadre leur utilisation pour garantir la sécurité et la vie privée. De plus, la sécurité est une préoccupation majeure, car il est essentiel de minimiser les risques de collision ou de défaillance technique. Enfin, la technologie doit constamment évoluer pour rendre ces dispositifs plus autonomes et efficaces. Ces défis sont au cœur de l'industrie des mobilités aériennes sans pilote, exigeant une innovation constante et une gestion minutieuse pour une intégration réussie dans notre société moderne.
</p>
</div>


<img  class="img" width="350vw" height="350vw" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">
</section>

<section class="py-5  ">
<h3 class="text-center ">Promouvoir l'avenir des drones sans pilote</h3>
<div class=" row py-5">
<div class="col md-6 px-5">Promouvoir l'intégration des mobilités aériennes sans pilote offre une multitude d'avantages et d'opportunités à travers divers secteurs. Dans la logistique, ces technologies permettent une livraison plus rapide et plus efficace de biens, tout en réduisant les coûts. Dans l'agriculture, elles facilitent la surveillance des cultures, la gestion des récoltes et l'optimisation des ressources. <br> En matière de surveillance, elles améliorent la sécurité des zones sensibles et simplifient la collecte de données cruciales.</div>
<div class="col md-6 px-5">Notre entreprise a contribué de manière significative à des projets innovants dans le passé, notamment des missions de sauvetage améliorées grâce à l'utilisation de drones pour localiser des personnes disparues plus rapidement. De plus, nos solutions ont permis d'optimiser les opérations logistiques de nombreuses entreprises, se traduisant par une réduction des délais de livraison et des coûts d'exploitation. 


</div>
<br>
<br>
<br>
</section>

<section class=" d-flex ">

<img  class="img" width="20%" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">

<div class="container">
<h2 class="text-center py-4">Engagement en Innovation Aérienne </h2>

<div class="row">
<div class="col">  <span>Sécurité avant tout</span> <br> La sécurité est notre priorité absolue. Nous respectons et appliquons strictement toutes les réglementations et les normes de sécurité pour garantir une utilisation sûre de ces technologies.</div>
<div class="col">  <span>Responsabilité environnementale </span> <br> Nous nous engageons à minimiser l'impact environnemental de nos opérations et à encourager des pratiques durables dans l'industrie des mobilités aériennes sans pilote.</div>
<div class="col">  <span>Innovation continue </span> <br> Nous restons à la pointe de la technologie en investissant dans la recherche et le développement pour proposer des solutions de pointe à nos clients.</div>
<div class="col">  <span>Service clientèle exceptionnel </span> <br> Nous sommes fiers de fournir un service clientèle de qualité supérieure et de travailler en étroite collaboration avec nos clients pour répondre à leurs besoins de manière transparente et efficace.</div>
</div>
<div>
</section>
<br>
<br>
<br><br>


{% endblock %}
