{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Relever les défis et promouvoir l’intégration des <br> mobilités aériennes sans pilote </h1>
<div class="photo">

<p class="text-center bg-info text-info-emphasis p-5" > L'utilisation des drones et des véhicules aériens sans pilote (UAV, pour Unmanned Aerial Vehicles) connaît une croissance rapide dans divers domaines, de la livraison de colis à la surveillance agricole et à la cartographie aérienne.

Importance : L'intégration réussie des UAM dans l'espace aérien existant présente des avantages potentiels considérables, notamment la réduction des temps de déplacement, l'amélioration de l'efficacité logistique et l'atténuation de la congestion routière.
 </p>

{% endblock %}
