{% extends 'base.html.twig' %}

{% block title %}home!{% endblock %}

{% block body %}


<div class="about">

<img  class="img" width="100%" height="100%"  src="{{ asset('images/home/bg-home.jpg')}}" alt="">

<h1 class="text-center py-5 ">Relever les défis et promouvoir l’intégration des <br> mobilités aériennes sans pilote </h1>


<p class="text-center px-5"> La société se spécialise dans la conception et la mise en œuvre de solutions numériques pour la gestion sécurisée du trafic de véhicules autonomes. 
<br>Leur expertise réside dans la création et le déploiement de systèmes de gestion avancés qui assurent la sécurité des véhicules sans conducteur.Leur technologie contribue à rendre les déplacements autonomes plus sûrs et efficaces.
 </p>
 <br>
 <br>
 <br>
 </div>



<section class="d-flex text-light text-center" style="background-color:rgb(15, 18, 28)">

<br>
<p class="p-5"><strong>Promouvoir l'avenir des drones sans pilote</strong>  <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>

<img  class="img" width="350vw" height="350vw" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">
</section>

<section class=" p-5 align-items-center justify-content-center">
<h3>Promouvoir l'avenir des drones sans pilote</h3>
 <br>
<p class="p-5">  <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>
{# <img width="30%" src="{{ asset('images/home/drone.jpg')}}" alt=""> #}
</section>

<section class=" d-flex">

<img  class="img" width="30%" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">

<p class="p-5"> <strong>Promouvoir l'avenir des drones sans pilote</strong> <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>


</section>

{% endblock %}
