{% extends 'base.html.twig' %}

{% block title %}home!{% endblock %}

{% block body %}
<style>
h1{color:rgb(17, 77, 116);}
strong{font-size :90px;}
p{font-size:17px }


</style>


<div class="about">

<img  class="img" width="100%" height="100%"  src="{{ asset('images/home/bg-home.jpg')}}" alt="">

<h1 class="text-center py-5 "> <strong>SafeSkyNav</strong> <br>
Relever les défis et promouvoir l’intégration des <br> mobilités aériennes sans pilote </h1>

<div class="container">
<p class="text-center"> La société se spécialise dans la conception et la mise en œuvre de solutions numériques pour la <br>gestion sécurisée du trafic de véhicules autonomes. 
<br>Leur expertise réside dans la création et le déploiement de systèmes de gestion avancés qui assurent  la sécurité <br> des véhicules sans conducteur.Leur technologie contribue à rendre les déplacements autonomes plus sûrs et efficaces.
 </p>
</div>

 <br>
 <br>
 <br>
 </div>

<section class="d-flex text-light text-center" style="background-color:rgb(15, 18, 28)">
<div class="container py-5">
<h3>Promouvoir l'avenir des drones sans pilote</h3>
<br>
<p> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.
</p>
</div>


<img  class="img" width="350vw" height="350vw" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">
</section>

<section class="py-5 text-center ">
<h3>Promouvoir l'avenir des drones sans pilote</h3>

<p class="px-5 ">  <br> <br> Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique,  la cartographie, la recherche  <br>et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>
{# <img width="30%" src="{{ asset('images/home/drone.jpg')}}" alt=""> #}
<br>
<br>
<br>
</section>

<section class=" d-flex text-center">

<img  class="img" width="30%" src="{{ asset('images/home/drone-enville.jpg')}}" alt="">

<p class="p-5">Promouvoir l'avenir des drones sans pilote <br><br>Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique,  la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>

</section>
<br>
<br>
<br><br>


{% endblock %}
