{% extends 'base.html.twig' %}

{% block title %}Hello RealisationsController!{% endblock %}

{% block body %}
{% set title = 'bar' %}
{% set subTitle = 'bar' %}
{% set elem1 = 'bar' %}
{% set elem2 = 'bar' %}
{% set elem3 = 'bar' %}
{% set elem4 = 'bar' %}
{% set button = 'Découvrir nos solutions' %}
        {% include 'header/index.html.twig' %}

        <h1>{{realisation.title}}</h1>

{% endblock %}