{% extends 'base.html.twig' %}

{% block title %}Hello EstimationController!{% endblock %}

{% block body %}

    {% set title = 'Relever les défis liés aux mobilités aériennes' %}
    {% set subTitle = 'Pourquoi ?' %}
    {% set elem1 = 'REPONSE EN 48H' %}
    {% set elem2 = 'bar' %}
    {% set elem3 = 'bar' %}
    {% set elem4 = 'bar' %}
    {% set button = 'Découvrir nos solutions' %}

     {% include 'header/index.html.twig' %}

   <div class="container d-flex py-5">
<div class="px-3 text-justify"><h4>Potentiel d'innovation et de croissance économique </h4> 
<p>Les technologies des drones présentent un immense potentiel d'innovation dans de nombreux secteurs, notamment l'agriculture, la surveillance, la logistique, la cartographie, la recherche et le sauvetage, la livraison, etc. En investissant dans ce domaine, les pays peuvent stimuler la croissance économique, créer de nouveaux emplois et favoriser l'émergence de nouvelles entreprises.</p>
 </div>

<div class="px-3 text-justify"><h4>Sécurité nationale et défense </h4> Les drones ont un rôle important à jouer dans la sécurité nationale et la défense, qu'il s'agisse de surveillance des frontières, de collecte de renseignements ou de missions de reconnaissance. Ils peuvent être utilisés pour protéger les intérêts nationaux.</div>

<div class="px-3 text-justify">
<h4>Soutien à la recherche scientifique </h4> 
<p>
Les drones sont devenus des outils essentiels pour la recherche scientifique, notamment pour l'observation de la faune, la collecte de données environnementales, l'exploration géologique et la recherche atmosphérique. Ils permettent d'accéder à des zones difficilement accessibles autrement.</p>
</div>

<div class="px-3"><h4>Amélioration de la sécurité publique</h4> 
<p>
Les drones peuvent être utilisés pour des missions de surveillance, de recherche et de sauvetage, de lutte contre les incendies de forêt, de surveillance des frontières, et bien d'autres encore. Ils permettent d'améliorer la sécurité publique en fournissant des informations en temps réel et en accélérant les opérations de secours.</p>

</div>
   </div>

   

{% endblock %}
