@import "~bootstrap/scss/bootstrap";

ul {
  list-style: none;
}

h1 {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: darkblue;
}

section p {
   
  font-size: 20px;
  color: brown;
}
