@import "~bootstrap/scss/bootstrap";

ul {
  list-style: none;
}


 .py-5 { 
  color: rgb(17, 77, 116);
}

.defis {
  font-weight: bolder;
}

a {
  text-decoration: none;
  // color: darkblue;
}


.px-5 {
font-size: 20px;
}






