{% extends 'base.html.twig' %}

{% block title %}DefiController!{% endblock %}

{% block body %}
<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 20%; font: 18px/1.5 sans-serif; color:red; } */
    .defis { margin:auto;  width: 100%; font: 18px/1.5 sans-serif; text-align:center;padding-top: 100px; }

    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="defis">
    <h1 class="">Naviguer l'avenir <br> Défis et Opportunités des Mobilités Aériennes sans Pilote</h1>

    
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/projet-sf/src/Controller/DefiController.php'|file_link(0) }}">src/Controller/DefiController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/projet-sf/templates/defi/index.html.twig'|file_link(0) }}">templates/defi/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
