{% extends 'base.html.twig' %}

{% block title %}Hello SolutionsController!{% endblock %}

{% block body %}
{% set title = 'Nos solutions' %}
{% set subTitle = 'Découvrez nos services au sein de ASD' %}
{% set elem1 = 'bar' %}
{% set elem2 = 'bar' %}
{% set elem3 = 'bar' %}
{% set elem4 = 'bar' %}
{% set button = 'Découvrir nos solutions' %}
        {% include 'header/index.html.twig' %}

        <div class="row justify-content-center p-5">
                {% for service in services %}
                        <div class="p-5 col-md-3">
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{asset('services/' ~ service.picture)}}" alt="Card image cap">
                                        <div class="card-body">
                                                <h5 class="card-title">{{ service.name }}</h5>
                                                <p class="card-text">{{service.description}}</p>
                                                <a href="{{path('app_services_details', { id : service.id })}}" class="btn btn-primary">Accéder au détail du service</a>
                                        </div>
                                </div>
                        </div>

                {% endfor %}
        </div>





{% endblock %}
